body {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }
  
  input, select {
    height: 42px;
    font-size: 24px;
  }
  
  textarea {
    font-size: 24px;
  }
  
  div {
    margin-bottom: 15px;
  }
  .poster {
    width: 50px;
    height: auto;
    margin-right: 15px;
  }
  .item {
    display: flex;
    align-items: center;
  }
  .img-form {
    width: 100px;
    height: auto;
  }
  .nav-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
  }
  .nav {
    display: block;
    background: transparent;
    border: 1px solid rgb(99, 97, 97);
    text-decoration: none;
    width: 20px;
    text-align: center;
    transition: all 0.3s;
  }
  .nav:hover {
    color: cornflowerblue;
    background: wheat;
}
.edit {
  margin-left: 10px;
  display: block;
  border: 1px solid;
  border-radius: 9px;
  padding: 2px 7px;
  text-decoration: none;
  transition: all 0.3s;
}
.edit:hover {
  background: cornflowerblue;
  color: wheat;
}
.rating {
  display: inline-block;
  border-radius: 50%;
  background: #000;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  line-height: 20px;
}
.wrap {
  padding: 10px;
}
.file-load {
  font-size: 13px;
  padding: 0;
  
}
input,
textarea,
select {
  font-size: 14px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid cornflowerblue;
}
input,
textarea {
  padding: 5px 10px;
}
input {
  padding: 5px 10px;
  height: 24px;
  display: flex;
  align-items: center;
}
select {
  height: 25px;
}
.button-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 160px;
}
button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: all 0.3s;
}
.submit {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.submit:hover {
  background-color: #218838;
  border-color: #1e7e34;
}
.reset {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.reset:hover {
  background-color: #c82333;
  border-color: #bd2130;
}